# IME672A GROUP-5 <br> Medical Insurance Cost Prediction
## Part 2 - Predicting data

#### Installing extra libraries

In [75]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\lenovo\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from xgboost) (1.21.5)

#### Importing the requie

In [76]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import os
import time

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import xgboost as xg
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

In [77]:
df=pd.read_csv(r"D:\ime672\project ime672\archive\insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [78]:
# Find the datatype and count of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [79]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [80]:
df["smoker"] = df["smoker"].astype("category")
df = pd.get_dummies(df, columns= ["smoker"])

In [81]:
df["sex"] = df["sex"].astype("category")
df = pd.get_dummies(df, columns= ["sex"])

In [82]:
df["region"] = df["region"].astype("category")
df = pd.get_dummies(df, columns= ["region"])

In [83]:
df.head()

,age,bmi,children,charges,smoker_no,smoker_yes,sex_female,sex_male,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,1,0,0,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,0,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,0,1,0,1,0,0

In [84]:
scaler=MinMaxScaler()
# transform data
d1=scaler.fit_transform(df)
data1=pd.DataFrame(d1)
data1

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.021739,0.321227,0.0,0.251611,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.000000,0.479150,0.2,0.009636,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.217391,0.458434,0.6,0.053115,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.326087,0.181464,0.0,0.333010,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.304348,0.347592,0.0,0.043816,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,0.695652,0.403820,0.6,0.151299,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1334,0.000000,0.429379,0.0,0.017305,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1335,0.000000,0.562012,0.0,0.008108,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1336,0.065217,0.264730,0.0,0.014144,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1337,0.934783,0.352704,0.0,0.447249,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [85]:
mx=list(df.columns)

In [86]:
data1.columns=mx

In [87]:
data1

,age,bmi,children,charges,smoker_no,smoker_yes,sex_female,sex_male,region_northeast,region_northwest,region_southeast,region_southwest
0,0.021739,0.321227,0.0,0.251611,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.000000,0.479150,0.2,0.009636,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.217391,0.458434,0.6,0.053115,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.326087,0.181464,0.0,0.333010,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.304348,0.347592,0.0,0.043816,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,0.695652,0.403820,0.6,0.151299,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1334,0.000000,0.429379,0.0,0.017305,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1335,0.000000,0.562012,0.0,0.008108,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1336,0.065217,0.264730,0.0,0.014144,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1337,0.934783,0.352704,0.0,0.447249,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [88]:
x=data1.drop('charges',axis=1)
y=data1['charges']

In [89]:
test_size=0.2
x_train,x_test,y_train,y_test = train_test_split(x, y,test_size=0.2,random_state=20)

In [90]:
model1=LinearRegression()
model1.fit(x_train,y_train)
model1.score(x_test,y_test)

0.7959688488543413

In [91]:
model2=RandomForestRegressor(random_state=0)
model2.fit(x_train,y_train)
model2.score(x_test,y_test)

0.8902677282217355

In [122]:
model3 = xg.XGBRegressor(objective = 'reg:squarederror', booster = 'gblinear',random_state=0)
model3.fit(x_train,y_train)
model3.score(x_test,y_test)

0.795963771364391

In [118]:
model3.predict(x_train)

array([0.27771407, 0.07855193, 0.00680086, ..., 0.08572646, 0.6632853 ,
       0.38808078], dtype=float32)

In [93]:
from sklearn.neighbors import KNeighborsRegressor
model4=KNeighborsRegressor(n_neighbors=5)
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.8321870828363187

In [94]:
from sklearn.ensemble import GradientBoostingRegressor
model5=GradientBoostingRegressor(random_state=0)
model5.fit(x_train, y_train)
model5.score(x_test,y_test)

0.9042927364082448

In [95]:
from sklearn.ensemble import AdaBoostRegressor
model6=AdaBoostRegressor(random_state=0, n_estimators=100)
model6.fit(x_train, y_train)
model6.score(x_test,y_test)

0.855113325248656

## Best regressor is gradient boosting regressor

In [96]:
n_estimators = [100, 200]
learning_rate=[0.01,0.1]
min_samples_split = [1,5]
min_samples_leaf = [1,2]

In [97]:
random_grid={'n_estimators': n_estimators,'learning_rate': learning_rate,'min_samples_split': min_samples_split,'min_samples_leaf': min_samples_leaf}

In [98]:
gb_grid = RandomizedSearchCV(estimator=GradientBoostingRegressor(),param_distributions=random_grid,cv=3,verbose=2,n_jobs=4)

In [99]:
gb_grid.fit(x_train,y_train)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.82386978 0.82911356 0.82867042 0.72730224
 0.82068729        nan        nan 0.83743942]
  warnings.warn(

RandomizedSearchCV(cv=3, estimator=GradientBoostingRegressor(), n_jobs=4,
                   param_distributions={'learning_rate': [0.01, 0.1],
                                        'min_samples_leaf': [1, 2],
                                        'min_samples_split': [1, 5],
                                        'n_estimators': [100, 200]},
                   verbose=2)

In [100]:
print(gb_grid.best_score_)
print(gb_grid.best_params_)

0.837439422940563
{'n_estimators': 100, 'min_samples_split': 5, 'min_samples_leaf': 2, 'learning_rate': 0.1}

In [101]:
from sklearn.ensemble import GradientBoostingRegressor
final=GradientBoostingRegressor(n_estimators=100,min_samples_split=5,min_samples_leaf=2,learning_rate=0.1,random_state=2)

In [102]:
final.fit(x_train, y_train)
acc=final.score(x_test,y_test)

In [103]:
print("Accuracy of the model is : ",acc*100,"%")

Accuracy of the model is :  90.71388613394112 %

In [104]:
ypred=final.predict(x_test)

In [105]:
ypred

array([0.17528357, 0.14197527, 0.14702649, 0.25071333, 0.05216966,
       0.05003032, 0.06593268, 0.14064376, 0.43261666, 0.14517638,
       0.26142267, 0.59226219, 0.08479378, 0.18694135, 0.25182066,
       0.14533281, 0.32940305, 0.14025439, 0.0482959 , 0.17587393,
       0.73974911, 0.13802782, 0.17569579, 0.04489799, 0.08978538,
       0.10742906, 0.37990753, 0.21480808, 0.56119867, 0.13558847,
       0.1303858 , 0.0690261 , 0.46399202, 0.7150296 , 0.22189509,
       0.04593742, 0.11324069, 0.05617217, 0.34898545, 0.22970528,
       0.20203163, 0.19747612, 0.02624441, 0.04481296, 0.26074537,
       0.12502857, 0.06336797, 0.10653336, 0.69709954, 0.06215867,
       0.12238579, 0.42700497, 0.14671837, 0.17528357, 0.0855595 ,
       0.53602801, 0.10576001, 0.01760264, 0.02490405, 0.30792457,
       0.546434  , 0.36501601, 0.20095393, 0.12059824, 0.1354711 ,
       0.1515202 , 0.15014303, 0.1111821 , 0.42181392, 0.61661016,
       0.15646115, 0.20639333, 0.21006437, 0.32419382, 0.14302916,
       0.20739614, 0.15249922, 0.23513888, 0.11324069, 0.09761605,
       0.09429153, 0.09772651, 0.63686738, 0.08509379, 0.77324409,
       0.2110025 , 0.06890565, 0.1510631 , 0.60003765, 0.23662792,
       0.20812022, 0.64471948, 0.66301401, 0.14065287, 0.04173858,
       0.07850314, 0.09343927, 0.05458384, 0.02827246, 0.02027851,
       0.7200298 , 0.17558091, 0.21460093, 0.0723588 , 0.17639025,
       0.19655887, 0.20523848, 0.25827397, 0.11735825, 0.13214304,
       0.65742349, 0.1755766 , 0.17714715, 0.08788479, 0.15642099,
       0.0664538 , 0.13733262, 0.2802084 , 0.2325876 , 0.20285036,
       0.20541013, 0.17630807, 0.21809899, 0.13439071, 0.06976833,
       0.18576755, 0.03046294, 0.04218364, 0.21869731, 0.17528357,
       0.20523848, 0.16204557, 0.07293574, 0.74006619, 0.05549349,
       0.09075677, 0.18654096, 0.04037176, 0.21058641, 0.15630884,
       0.14954595, 0.14702165, 0.02310229, 0.27921505, 0.11925909,
       0.06304164, 0.11410059, 0.26920419, 0.06637087, 0.18200886,
       0.07756726, 0.04764076, 0.12021672, 0.11361275, 0.125285  ,
       0.08787187, 0.08927565, 0.10667529, 0.13000576, 0.05404385,
       0.17685932, 0.0932149 , 0.02540613, 0.55815194, 0.11503387,
       0.16094342, 0.03259951, 0.02998605, 0.08927034, 0.23975305,
       0.10263401, 0.37412397, 0.15171805, 0.05958096, 0.71471087,
       0.10936152, 0.07558912, 0.05096245, 0.12104723, 0.20517313,
       0.14885514, 0.17528357, 0.69709078, 0.14435294, 0.25280654,
       0.13691404, 0.09965523, 0.13370615, 0.7047985 , 0.53433864,
       0.0851909 , 0.22613362, 0.21264164, 0.60844846, 0.09068533,
       0.28721641, 0.00328049, 0.26763466, 0.09992983, 0.19006205,
       0.24609422, 0.19893925, 0.12636639, 0.21550043, 0.75123107,
       0.07413351, 0.17880004, 0.17609135, 0.17094391, 0.08647935,
       0.08784042, 0.21166628, 0.17018566, 0.09968734, 0.16938253,
       0.02827716, 0.28297351, 0.1371511 , 0.20573769, 0.17528357,
       0.17176689, 0.10404218, 0.35247126, 0.05245555, 0.62043422,
       0.05328599, 0.02242101, 0.72837165, 0.27689342, 0.07685319,
       0.08002971, 0.63225231, 0.10514094, 0.09702903, 0.03582653,
       0.3079557 , 0.08042577, 0.02666127, 0.03693098, 0.14284096,
       0.10122849, 0.02144402, 0.19016882, 0.11552109, 0.13328638,
       0.02807844, 0.21426047, 0.65669846, 0.20402971, 0.11966167,
       0.58507831, 0.0776637 , 0.3617258 , 0.17545522, 0.12559991,
       0.0482959 , 0.24338718, 0.06916542, 0.03596506, 0.02353541,
       0.12377889, 0.64937689, 0.32070795, 0.25683559, 0.70930287,
       0.13424815, 0.03671502, 0.09354072])

In [106]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse

In [107]:
abs_error = mae(ypred,y_test)
sq_error=mse(ypred,y_test)

In [108]:
print("Mean absolute error : ",abs_error)
print("Mean squared error : ",sq_error)

Mean absolute error :  0.03462482512422409
Mean squared error :  0.003557803479946421